.form {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.dropdownContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.indicatorContainer {
  display: grid;
  width: 80%;
  margin: 1rem auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.formSubmitButtonContainer {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.formButton {
  width: 30%;
  font-size: 1rem;
  padding: 0.5em;
  color: ivory;
  background-color: blue;
  border: 1px solid ivory;
  cursor: pointer;
}

.formButton:hover,
.formButton:focus {
  border: 1px solid blue;
  color: blue;
  background-color: ivory;
}

@media only screen and (max-width: 600px) {
  .dropdownContainer {
    flex-direction: column;
    align-items: center;
    max-width: 98%;
    margin: 0 auto;
  }

  .indicatorContainer {
    width: 98%;
    grid-gap: 0.25rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .formButton {
    width: 50%;
    font-size: 1.175rem;
    padding: 0.5em;
    color: ivory;
    background-color: blue;
    cursor: pointer;
  }
}
